.windowContainer {
	position: absolute;
	height: 500px;
	width: 500px;
	background-color: blue;
	top: 0;
	left: 0;
	filter: drop-shadow(0px 3px 5px black);
	backface-visibility: hidden;
	transform: all;
	will-change: transform;
}

.topRight,
.topLeft,
.bottomRight,
.bottomLeft {
	position: absolute;
	height: 6px;
	width: 6px;
	background-color: red;
}

.topDrag,
.bottomDrag,
.rightDrag,
.leftDrag {
	position: absolute;
	height: calc(100% - 16px);
	background-color: orange;
	width: 4px;
}

.topDrag {
	top: -49%;
	right: 49.8%;
	rotate: 90deg;
}

.bottomDrag {
	top: 52%;
	right: 49.8%;
	rotate: 90deg;
}

.rightDrag {
	right: 0;
	transform: translateY(8px);
}

.leftDrag {
	transform: translateY(8px);
}

.bottomDrag {
	bottom: 0;
}

.topRight {
	right: 0;
	cursor: nesw-resize;
}

.topLeft {
	left: 0;
	cursor: nwse-resize;
}

.bottomRight {
	bottom: 0;
	right: 0;
	cursor: nwse-resize;
}

.bottomLeft {
	bottom: 0;
	left: 0;
	cursor: nesw-resize;
}

.appContainer {
	position: absolute;
	display: flex;
	padding: 4.5px;
	height: 100%;
}
